.headerStyle {
  background-color: black;
  color: rgb(255, 67, 224);
  text-align: center;
}
.mainStyle {
  background-color: lightgray;
  padding: 1em;
}
.bodyStyle {
  background-image: url(record.png);
  background-repeat: repeat;
}
body {
  margin: 0px;
}
