header {
    background-color:black;
    color: rgb(255, 67, 224);
    text-align: center;
}
main {
    background-color: lightgray;
}
body {
    background-image: url(record.png);
    background-repeat: repeat;
}