header {
    background-color:black;
    color: rgb(255, 67, 224);
    text-align: center;
}
main {
    background-color: lightgray;
    padding:1em
}
body {
    background-image: url(record.png);
    background-repeat: repeat;
    margin:0px ;
}